line-length = 120
target-version = "py{{ python_version | replace('.', '') }}"
extend-exclude = ["build", "dist", ".venv", "venv", ".nox", ".maturin"]

[lint]
select = ["E", "F", "I", "N", "UP", "B", "A", "PL", "W", "C4"]
ignore = []
fixable = ["ALL"]

[format]
quote-style = "double"
indent-width = 4
line-ending = "lf"
